/* Base Styles */

.partfour {
    width: 90%;
    max-width: 1200px; /* Optional: limits the maximum width */
    margin: 0 auto;
    padding: 20px; /* Add some padding */
}

.experience-container {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border: 2px solid #cccccc; /* Light grey border */
    border-radius: 15px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1); /* Light shadow */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.experience-container:hover {
    transform: translateY(-10px); /* Slight floating effect on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 40px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
}

.experience-header {
    display: flex;
    flex-wrap: wrap; /* Ensure items wrap on smaller screens */
    align-items: center;
    justify-content: space-between;
}

.experience-info {
    flex: 1;
    margin-left: 20px;
}

.experience-header h5 {
    margin-top: 1%;
    font-size: 1.25rem; /* Responsive font size */
}

.experience-logo {
    max-width: 100%; /* Make sure the image scales down on smaller screens */
    height: auto;
}

.experience-title {
    font-size: 2rem; /* Responsive font size */
    margin: 0;
}

.experience-line {
    border: 0;
    height: 2px;
    background: #333; /* Adjust color as needed */
    margin: 20px 0;
    width: 100%;
}

.experience-description {
    text-align: left;
    font-size: 1rem; /* Responsive font size */
}

.experience-list {
    text-align: left;
    margin-left: 3%;
    font-size: 1rem; /* Responsive font size */
}

.experience-details {
    margin-left: 3%;
    font-size: 1rem; /* Responsive font size */
}

.error-message {
    color: red;
    text-align: center;
    margin-top: 20px;
}

/* Responsive Font Sizes */

@media (max-width: 768px) {
    .experience-title {
        font-size: 1.5rem;
    }

    .experience-header h5 {
        font-size: 1rem; /* Adjust as needed */
    }

    .experience-description,
    .experience-list,
    .experience-details {
        font-size: 0.875rem; /* Adjust as needed */
    }
}

@media (max-width: 480px) {
    .experience-title {
        font-size: 1.2rem;
    }

    .experience-header h5 {
        font-size: 0.87rem; /* Adjust as needed */
    }

    .experience-description,
    .experience-list,
    .experience-details {
        font-size: 0.7rem; /* Adjust as needed */
    }
}
