.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    color: #2F4F4F;
    
}

.card {
    width: 350px;
    background-color: #ffffff;
    border: 2px solid #cccccc;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    overflow: hidden;
    z-index: 1;
    display: flex;
    flex-direction: column;
    height: 320px; /* Increased height for the cards */
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 40px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    object-fit: cover;
    width: 100%;
    height: 250px; /* Adjusted height for the image */
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribute space evenly between items */
    padding: 20px;
    color: #2F4F4F;
    flex: 1; /* Allow the body to grow and fill the remaining space */
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #2F4F4F;
}

.card-text {
    font-size: 0.9rem;
    margin-bottom: 20px;
    color: #2F4F4F;
}

.technologies,
.languages {
    margin-top: 15px;
    color: #2F4F4F;
}

.technologies h6,
.languages h6 {
    font-size: 0.9rem;
    margin-bottom: 5px;
    color: #2F4F4F;
}

.tech-icons,
.language-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tech-item,
.language-item {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #2F4F4F;
}

.tech-logo,
.language-logo {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.card-item {
    font-size: 0.9rem;
    margin: 0;
    color: #2F4F4F;
}

.card-tech {
    margin-bottom: 5px;
    height: 55px;
}
.card-description{
    height: 140px;
}
/* Button styling */
.card-buttons {
    display: flex;
    justify-content: center; /* Center align buttons horizontally */
    gap: 10px; /* Space between buttons */
    margin-top: auto; /* Push buttons to the bottom */
}

.detail-button, .git-button {
    background-color: #8B4513; /* Default background color for buttons */
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 25px;
    transition: background-color 0.3s;
    height: 40px; /* Set a consistent height for the buttons */
    margin: 2px;
}

.git-button {
    background-color: #0d6efd; /* Background color for the GitHub button */
}

.detail-button {
    margin-top: 10px;
}

.card-body a {
    text-decoration: none;
}

/* Responsive Design */

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
        margin-left: 10%;
        padding-top: 100px;
        margin-right: 10%;
    }

    .card {
        width: 100%;
        height: auto; /* Adjust height for smaller screens */
    }

    .card-title {
        font-size: 1.25rem;
        color: #2F4F4F;
    }

    .card-text, .card-item {
        font-size: 0.8rem;
    }

    .btn {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .container {
        flex-direction: column;
        align-items: center;
        margin-left: 10%;
        margin-right: 10%;
        padding-top: 100px;
    }

    .card {
        width: 100%;
        height: auto; /* Adjust height for smaller screens */
    }

    .card-title {
        font-size: 1rem;
        color: #2F4F4F;
    }

    .card-text, .card-item {
        font-size: 0.7rem;
    }

    .btn {
        font-size: 11px;
    }
}
